@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    background-color: #dffafff1;
}

.title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
}

.videosrc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.videosize{
    height: 75vh;
}

.controls{
    padding: 20px;
}

img{
    width: 30px;
    height: 30px;
}
